body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  overflow: hidden;
}

#topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #fce773;
  #title {
    text-align: center;
    flex: 3;
    h1 {
      margin: 0;
      font-size: 4vh;
    }
    h2 {
      margin: 0;
      margin-left: 2rem;
      font-size: 3vh;
      text-align: left;
      max-width: 15vw;
    }
    p {
      margin: 0;
      padding-left: 1rem;
    }
  }
  #moneyCounter {
    font-size: 3rem;
    flex: 2;
    flex-grow: 5;
  }
  button {
    flex: 1;
    flex-grow: 2;
    margin: 1rem;
    height: 60%;
    border-width: 0.5vh;
    font-size: 3vh;
    background-color: #ffe863;
    border-color: goldenrod;
    &:hover {
      background-color: #ebd55b;
    }
  }
}

#bottomhalf {
  display: flex;
  #businessBar {
    height: 90vh;
    flex: 2;
    overflow-y: auto;
    background-color: rgb(76, 177, 122); 
    #businessList {
      div:nth-child(odd) {
        background-color: rgb(96, 177, 102);
      }
      div:nth-child(even) {
        background-color: rgb(96, 177, 122);
      }
      .businessCard {
        display: flex;
        height: 15vh;
        flex-direction: column;
        text-align: center;
        align-items: stretch;
        h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 2;
          margin: 0;
        }
        p {
          display: flex;
          align-items: flex-end;
          justify-content: left;
          flex: 1;
          margin: 0;
        }
      }
    }
    #newBusiness {
      display: flex;
      background-color: rgb(155, 127, 102);
      height: 15vh;
      text-align: center;
      align-items: center;
      h2 {
        flex: 1;
        margin: 0;
      }
    }
  }
  #bottomleft {
    flex: 6;
    height: 90vh;
    background-color: rgb(81, 199, 134);
    overflow-y: auto;
    padding-top: 1rem;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  #bottomright {
    flex: 4;
    height: 90vh;
    background-color: rgb(76, 177, 122);
    #newBusinessSelection {

    }
  }
}

.infosubmitbutton {
  margin-top: 1rem;
  height: 2rem;
  width: 10vh;
}

/*Not great color choice*/
.defaultColor {
  color: black;
}
.warningColor {
  color: firebrick;
}
.successColor {
  color: forestgreen;
}

#authPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  h2 {
    text-align: center;
  }
  #inputs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    #login {
      flex: 1;
      h3 {
        text-align: left;
      }
      #codeInput {
        font-size: 1.5rem;
        font-family: monospace;
        margin-bottom: 0.5rem;
        width: 8ch;
      }
      button {
        width: 75%;
      }
    }
    #register {
      flex: 1;
      text-align: right;
      h3 {
        text-align: right;
      }
      button {
        width: 75%;
      }
    }
  }
  #info {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
