<div id="authPage">
  <h2>Authenticate to Business Road</h2>
  <div id="inputs">
    <div id="login">
      <h3>Login</h3>
      <input type="password" id="codeInput" maxlength="8" placeholder="********" /> <br />
      <input
        type="checkbox"
        name="saveLoginCookieBox"
        id="SaveLoginCookieBox"
      />
      <label for="saveLoginCookieBox">Remember me</label>
      <br />
      <button onclick="LogIn()" class="infosubmitbutton">Log in</button>
      <p id="requestStatusText"></p>
    </div>

    <div id="register">
      <h3>Register</h3>
      <div id="registration">
        <h1>........</h1>
        <button onclick="RegisterAccount()", class="infosubmitbutton">Register a new account</button>
      </div>
    </div>
  </div>
  <div id="info">
    <p>
      This part of the page contains information about authentication and the
      pesky legal stuff.
    </p>
  </div>
  <div id="accountDeletion">
    <h3>Delete account</h3>
    <input type="password" id="codeInput" maxlength="8" placeholder="********" /> <br />
    <button class="infosubmitbutton" onclick="deleteAccount()">Delete</button>
  </div>
</div>
